body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4863fc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5433fe;
}

* {
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}
